Options +FollowSymLinks -Indexes -MultiViews
RewriteEngine On
RewriteBase /tspk-mr
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
php_value session.gc_maxlifetime 31557600